/**
* author : Daniel Flores
* CAMPOSOL Theme
*
*/

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/Montserrat-Regular.otf);
}

* {
  /*font-family: Montserrat;*/
}


.pruebaaa{
	border-radius: 51px 51px 51px 51px;
-moz-border-radius: 51px 51px 51px 51px;
-webkit-border-radius: 51px 51px 51px 51px;
border: 0px solid #000000;
}


